@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'roboto';
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #1DA1F2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content {
    background-color:rgb(221, 230, 238);
    grid-area: 2 / 2 / 3 / 3;
}

.sidebar-wrapper {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
    row-gap: 48px;
}

.sidebar-wrapper img {
    filter: invert();
}

.sidebar-wrapper > div{
    justify-self: center;
}

.dashboard-title, .sidebar-content, .sidebar-technical {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: fit-content(24px) 100px;
    margin-left: 120px;
    align-items: center;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-rows: repeat(auto-fit, minmax(25px, 35px));
    font-weight: bold;
    font-size: 1.2rem;

}

.dashboard-title {
    font-size: 1.6rem;
    margin-top: 16px;
}

.top-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 16px 0 16px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 36px 64px 130px;
    grid-template-rows: 1fr;
    align-items: center;
}

.action {
    display: grid;
    grid-template-columns: 104px 1fr 400px;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0 0 16px 32px;
}

form {
    display: flex;
    margin-left: 16px;
}

input {
    border-radius: 12px;
    height: 32px;
    flex: 1;
    margin-right: 120px;
    background-color: rgb(221, 230, 238);
    border-style: none;
}

form button{
    background-color: white;
    border-style: none;
}

.avatar, .avatar-big{
    border-radius: 50%;
    border-style: none;
    height: 48px;
}

.search > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.avatar-big {
    height:80px;
}

.greeting {
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

span {
    font-size: 1.3rem;
}

.action-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.action-buttons{
    background-color: #1DA1F2;
    color:white;
    border-radius: 24px;
    border-style: none;
    width: 100px;
    height: 36px;
    font-weight: bold;
    font-size: 0.9rem;
}
